[submodule "external/openmpt"]
	path = external/openmpt
	url = https://github.com/OpenMPT/openmpt.git
	branch = OpenMPT-1.31
[submodule "external/libebur128"]
	path = external/libebur128
	url = https://github.com/jiixyj/libebur128.git
[submodule "external/lodepng"]
	path = external/lodepng
	url = https://github.com/kajott/lodepng
